
.board{
    display: grid;
    grid-template-columns: 1fr 60% 1fr;
    grid-template-rows: 20% 70% 10%;
    
}

.cardBoard{
    display: grid;
    gap: 2%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr ; 
    overflow: hidden;
    grid-row: 2;
    grid-column: 2;
}


.player{ 
    background-color: antiquewhite;
    font-size: 0.7em;
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    grid-row: 2;

}

.playerCards{
    
    height: 50vh;
    
    .ul{
        margin: 0 10%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
        li{
            list-style-type: none;
            margin-top: 50%;
            height: 6vh;
            border-radius: 1Vh;
            width: 5vh;
             
        }
        span{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}




.bank{
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 5;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    margin-top: 5%;
    background-color: rgb(76, 57, 243);
    border-radius: 15px;
   
    .token{
        display: flex;
        flex-direction: row;
        align-items: center;

        .colorPoint{
            margin-left: 10%;
            height: 20px;
            width: 20px;
            border-radius: 10px;
           border: solid 0.5px 
        }
    }
}

.turnDisplay{
    
    border-radius: 15px;
    
    margin: -2% auto;
    font-size: large;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 5;
}


.playerTokens{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    .playerToken{
        padding: 5px;
        border-radius: 5px;
        color: rgb(219, 213, 194);
        font-weight: bold;
    }
}

.gameDisplay{
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}