
.board{
    display: grid;
    grid-template-columns: 1fr 60% 1fr;
    grid-template-rows: 20% 70% 10%;
    
}

.cardBoard{
    display: grid;
    gap: 2%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr ; 
    overflow: hidden;
    grid-row: 2;
    grid-column: 2;
}


.player{ 
    background-color: antiquewhite; 
    height: 100%;
    width: 80%;
    grid-row: 2;
    margin: auto;
    h2{
        text-align: center;
    }
}

.playerCards{
    height: 50%;
    background-color: rgb(242, 166, 67);
    
   

}
.playerTokens{
    
    background-color: blueviolet;
    height: 30%;
}




.bank{
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 5;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    margin-top: 5%;
    background-color: rgb(76, 57, 243);
    border-radius: 15px;
   
    .token{
        display: flex;
        flex-direction: row;
        align-items: center;

        .colorPoint{
            margin-left: 10%;
            height: 20px;
            width: 20px;
            border-radius: 10px;
           border: solid 0.5px 
        }
    }
}

.turnDisplay{
    
    border-radius: 15px;
    
    margin: -2% auto;
    font-size: large;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 5;
}


.gameDisplay{
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}