.card{
    background-color: $cardColor;
    box-shadow: 0.25rem 0.25rem 0.1rem rgba(grey, 0.4); 
    color: white;
    font-size: 0.7rem;
    display: grid;
    grid-template-columns: 30% 1fr;
  
    .point{
        grid-column: 2;

    }
    .cost{
        grid-column: 2;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 70px; 
        li{
            list-style-type: none;
            margin: 5%;
            span{
                padding: 2px;
                border-radius: 2px;
                margin-right: 5%;
    
            }
        }
       
    }

}

.card:hover{
    animation : vibrate .5s; 
    
}

.color{
    display: inline-block;
    padding: 5px;
    width: 10px;
    height: 10px;
    border: 0.4px solid black;
    border-radius: 10px;
}
.blue{
    background-color: blue;
}

.red{
    background-color: red;
}
.green{
    background-color: green;
}
.black{
    background-color: black;
}
.white{
    background-color: white;
}

