.gameDisplay{
    background-image: radial-gradient(circle, rgb(185, 185, 206) 0%, rgb(102, 46, 46) 100%); ;

}

.playerStatus{
    color: white;
    text-transform: uppercase;
}


.timer{
    margin: 0 0 0 50px
}