$cardColor: rgb(197, 223, 211); 

body{
    font-size: 0.9em;
    margin: 0; 
}
@import 'mixin/mixin.scss'; 
@import 'components/_board'; 
@import 'components/_card';
@import 'components/_player';
@import 'components/bank'; 
@import 'pages/_home';



